In [3]:
g = """1
2
3
4
abcd ee
aasss""
"""
len(g)

24

In [1]:
i = "\""

In [4]:
i = "abc\t\t123"
print(i)

abc		123

In [6]:
中 = 100
print(中)

100

In [1]:
'a' + str(1)

'a1'

In [14]:
num = int('12345')
w = 10000
while w >= 1:
    print(num//w)
    num = num % w
    w = w // 10

1
2
3
4
5

In [20]:
num = 2345
w = 10
while num >= 1:
    print(num % w)
    num = num // w

5
4
3
2

In [26]:
num = 1213
w = 10
while num >=1:
    print(num - num//w*w)
    num = num // w

3
1
2
1

In [32]:
import math
print(math.ceil(2.0001))
print(math.ceil(-2.0001))

3
-2

In [33]:
int(3.5001)

3

In [35]:
min?

In [36]:
bin(10), oct(10), hex(10)

('0b1010', '0o12', '0xa')

In [38]:
int('0b1010', 2)

10

In [39]:
type(bin(10))

str

In [41]:
isinstance(100, int)

True

In [42]:
type(1 + True)

int

In [45]:
1 + False + 2.2 # 隐试类型转换

3.2

In [46]:
[1, 'a', int]

[1, 'a', int]

In [1]:
l1 = []
l2 = [1, 2, 'abc']
l3 = list()
l4 = list(range(5))

In [2]:
isinstance(l1, list)

True

In [3]:
l6 = list(range(1, 10))

In [4]:
l6

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
l6[0], l6[1], l6[8], l6[-1]

(1, 2, 9, 9)

In [19]:
l7 = [1, 2, 1, 1]
l7.count(1)
# l7.index(0)  # ValueError

3

In [21]:
len('abc')

3

In [26]:
l7 + [1, 2, 3]

[1, 2, 1, 1, 1, 2, 3]

In [27]:
l9 = [1, 2, 3]
l9 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
l0 = [1, [2, 3], 4]
l1 = l0.copy()

In [42]:
l0

[1, [10, 3], 4]

In [43]:
l1

[1, [10, 3], 4]

In [41]:
l0[0] = 1

In [51]:
l0 == l1

True

In [52]:
import copy
l0 = [1, [2, 3], 4]
l1 = copy.deepcopy(l0)

In [60]:
l0

[1, [100, 3], 4]

In [59]:
l1

[1, [200, 3], 4]

In [58]:
l0[1][0] = 100
l1[1][0] = 200

In [61]:
l3 = [[1, 2, 3]] * 3

In [66]:
len(l3), l3

(3, [[1, 200, 3], [1, 200, 3], [1, 200, 3]])

In [67]:
l3[1][1] = 200

In [68]:
list.remove?

In [2]:
import random

In [78]:
random.randint(1,2) # [1, 2]

1

In [91]:
random.randrange(1,2) # [1, 2)

1

In [4]:
lst = list(range(1, 10))

In [93]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
for i in range(10):
    print(random.choice(lst))

7
7
9
7
5
6
9
3
5
4

In [97]:
for i in range(10):
    index = random.randint(0, 8)
    print(lst[index])

5
3
5
7
6
5
1
7
8
7

In [102]:
random.shuffle(lst)
lst

[4, 5, 7, 9, 3, 6, 2, 8, 1]

In [5]:
random.sample(lst, 2)

[4, 5]

In [ ]:
t1 = ()
t2 = tuple()
t3 = (1) # 不是元祖，1使用括号改变优先级

In [7]:
from collections import namedtuple

In [9]:
Point = namedtuple('Point', ("x", 'y'))

In [10]:
p1 = Point(1,2)

In [11]:
p1

Point(x=1, y=2)

In [1]:
a = 3
b = 2
c = 1
if a > b:
    if a > c:
        if b > c:
            print(a, b, c)
        else:
            print(a, c, b)
    else:
        print(c, a, b)
else:
    if b > c:
        if a > c:
            print(b, a, c)
        else:
            print(b, c, a)
    else:
        print(c, b, a)

3 2 1

In [12]:
# nums = []
# while len(nums) != 3:
#     nums.append(int(input('>>>')))
nums = [3, 2, 1]
print(nums)
newlist = [None] * len(nums)
index = -1
while nums:
    m = max(nums)
    newlist[index] = m
    nums.remove(m)
    if len(nums) == 1:
        newlist[0] = nums[0]
        break
    index -= 1
print(newlist)

[3, 2, 1]
[1, 2, 3]

In [5]:
nums = []
while len(nums) != 3:
    nums.append(int(input('>>>')))
print(nums)
nums.sort()
print(nums)

>>>3
>>>2
>>>1
[3, 2, 1]
[1, 2, 3]

In [11]:
nums = []
while len(nums) != 3:
    nums.append(int(input('>>>')))
print(nums)
for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        if nums[i] > nums[j]:
            temp = nums[i]
            nums[i] = nums[j]
            nums[j] = temp
print(nums)

>>>2
>>>3
>>>1
[2, 3, 1]
[1, 2, 3]

In [8]:
a={1:1,'4':2,3:3}
l = list(a.keys())
l.sort(key=str)
s = ','.join(map(str, l))
print(s)

1,3,4

In [20]:
# 冒泡排序
nums = [1, 9, 8, 5, 6, 7, 4, 3, 2]
# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
count = 0
swap_count = 0
for i in range(len(nums)):
    flag = True # 假定达到目标顺序
    for j in range(len(nums)-1-i):
        count += 1
        if nums[j] > nums[j+1]:
            nums[j], nums[j+1] = nums[j+1], nums[j]
            swap_count += 1
            flag = False
    if flag:
        break
print(nums)
print(count)
print(swap_count)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
36
25

In [23]:
a = '0123456789'
result = ''
for i in range(0, len(a), 2):
    result += a[i]
print(result)

02468

In [24]:
a = '0123456789'
print(a[::2])

02468

In [37]:
res_list = []
for i in range(2, 101):
    flag = True
    for j in range(2, i):
        if i % j == 0:
            flag = False
            break
    if flag:
        res_list.append(i)
print(' '.join(map(str, res_list)))

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [36]:
num = [2,3,5,7]
for i in range(8,101):
    if i%2==0 or i%3==0 or i%5==0 or i%7==0:
             continue
    else:
        num.append(str(i))
print(' '.join(str(j) for j in num))

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [2]:
x = 4
y = 10
s1 = f'{x} -> {y}'
s1

'4 -> 10'

In [4]:
a = list(range(9))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
','.join(map(str, a))

'0,1,2,3,4,5,6,7,8'

In [12]:
'*'.join('abcdef')

'a*b*c*d*e*f'

In [13]:
"*".join(list('abcdef'))

'a*b*c*d*e*f'

In [23]:
s1 = '1,2,3,4'
s1.split()

['1,2,3,4']

In [26]:
s1.split?

In [4]:
"I am %s" %(20,)

'I am 20'

In [11]:
"{} {} {}".format(1, 2, 4)

'1 2 4'

In [1]:
# list生成式
[x*x for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# 利用list生成式打印九九乘法表
print('\n'.join(['\t'.join('{}*{}={}'.format(y, x, x*y) for y in range(1, x+1)) for x in range(1, 10)]))

1*1=1
1*2=2	2*2=4
1*3=3	2*3=6	3*3=9
1*4=4	2*4=8	3*4=12	4*4=16
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [25]:
# 求1到10偶数的平方
[ x*x for x in range(1, 11) if x % 2 == 0]

[4, 16, 36, 64, 100]

In [7]:
def triangles(n):
    L = [1]
    count = 0
    while True:
        count += 1
        yield L
        if count == n:
            break
        L.append(0)
        L = [L[i-1] + L[i] for i in range(len(L))]

for x in triangles(10):
    print(x)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [24]:
class ClassName1:
    name = '年华'
    
    @classmethod
    def fun1(cls, age):
        print('name: ' + cls.name)
        cls.name = '桌子'
        print('name2: ' + cls.name)
        print('age: ' + str(age))

ClassName1.name = "哈哈"
print(ClassName1.name)
ClassName1.fun1(12)

哈哈
name: 哈哈
name2: 桌子
age: 12